input {
  keyboard {
    xkb {
      // Change capslock to escape
      //options "caps:escape_shifted_capslock" // handled by keyd now
      layout "us"
      model ""
      rules ""
      variant ""
    }
    repeat-delay 600
    repeat-rate 25
    track-layout "global"
  }
  touchpad {
    tap
    natural-scroll
  }
  mouse { accel-profile "flat"; }
}
