binds {
  // WINDOW FOUCUS (VIM)
  Mod+H   { focus-column-left; }
  Mod+J   { focus-window-down; }
  Mod+K   { focus-window-up; }
  Mod+L   { focus-column-right; }



  // WINDOW MOVEMENT (VIM)
  Mod+Shift+H   { move-column-left; }
  Mod+Shift+J   { move-window-down; }
  Mod+Shift+K   { move-window-up; }
  Mod+Shift+L   { move-column-right; }



  // WINDOW MANAGEMENT
  Mod+Q repeat=false { close-window; }
  Mod+F { maximize-column; }
  Mod+Shift+F { fullscreen-window; }
  Mod+Alt+F { toggle-window-floating; }
  Mod+Ctrl+F { switch-focus-between-floating-and-tiling; }



  // NOCTALIA KEYBINDS
  Mod+Space {
        spawn-sh "noctalia msg panel-toggle launcher";
      }
  Mod+Shift+Escape {
        spawn-sh "noctalia msg panel-toggle session";
      }
  Mod+V {
    spawn-sh "noctalia msg panel-toggle clipboard";
  }
  Print {
    spawn-sh "noctalia msg screenshot-fullscreen";
  }
  Mod+Print {
    spawn-sh "noctalia msg screenshot-region";
  }
  Mod+Shift+D {
    spawn-sh "noctalia msg notification-dnd-toggle";
  }
  Mod+Pause {
    spawn-sh "noctalia msg media toggle";
  }
  Mod+F11 {
    spawn-sh "noctalia msg media previous";
  }
  Mod+F12 {
    spawn-sh "noctalia msg media next";
  }
  Mod+minus {
    spawn-sh "noctalia msg volume-down";
  }
  Mod+equal {
    spawn-sh "noctalia msg volume-up";
  }


  // SYSTEM AND OVERVIEW
  Mod+Shift+Q { quit; }
  Mod+Shift+Slash { show-hotkey-overlay; }
  Mod+Tab repeat=false { toggle-overview; }



  // WORKSPACE NAVIGATION
  Mod+U   { focus-workspace-down; }
  Mod+I   { focus-workspace-up; }
  Mod+WheelScrollDown  cooldown-ms=150 { focus-workspace-down; }
  Mod+WheelScrollUp  cooldown-ms=150 { focus-workspace-up; }

  // MOVE TO WORKSPACE
  Mod+Shift+U   { move-column-to-workspace-down; }
  Mod+Shift+I   { move-column-to-workspace-up; }
  Mod+Shift+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
  Mod+Shift+WheelScrollUp cooldown-ms=150 { move-column-to-workspace-up; }


  // WINDOW RULES
  Mod+O     { toggle-window-rule-opacity; }





  // APPLICATION LAUNCHERS
  Mod+Return { spawn "kitty"; }
  Mod+Y { spawn "kitty" "-e" "yazi"; }
  Mod+B { spawn "zen-beta"; }
  Mod+E { spawn "dolphin"; }
}
